@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-purple: #473C66;
  --brand-grey: #F0F0F0;
}

*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: #8B7FBD;
    border-radius: 4px;
}

.active{
    background-color: #F5F3F9;
    border-color: #8B7FBD;
}